extends layout

block header
  link(rel='stylesheet', href='/static/stylesheets/fjord.css')

block content
  h1= title
  p Welcome to #{title}
  section.section
    div#container-explore.container
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1f41ae5d-33c3-4c70-a744-a8155814212a/d88m38f-c401b1c6-ca68-41d0-8373-136ae9ec43bf.jpg/v1/fill/w_1024,h_388,q_75,strp/longship_by_tavenerscholar_d88m38f-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zODgiLCJwYXRoIjoiXC9mXC8xZjQxYWU1ZC0zM2MzLTRjNzAtYTc0NC1hODE1NTgxNDIxMmFcL2Q4OG0zOGYtYzQwMWIxYzYtY2E2OC00MWQwLTgzNzMtMTM2YWU5ZWM0M2JmLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.n3UNDm_Oa2KuKy8UhWpwdKeY-tLPjxUbDRzzt0nIPO8")
  section.section
    div#container-settle.container
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c31767e2-386b-4160-b0cf-4e5b7655901c/ddu792c-7241365b-1d36-40d2-b596-31f59e198c4c.jpg/v1/fill/w_1385,h_577,q_70,strp/viking_fortress_by_jaxko_ddu792c-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04MDAiLCJwYXRoIjoiXC9mXC9jMzE3NjdlMi0zODZiLTQxNjAtYjBjZi00ZTViNzY1NTkwMWNcL2RkdTc5MmMtNzI0MTM2NWItMWQzNi00MGQyLWI1OTYtMzFmNTllMTk4YzRjLmpwZyIsIndpZHRoIjoiPD0xOTIwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.MfyoZtXmQiyrodqGwIfXS1jgbMM3Vt5pFKzOxC_XElA")
  section.section
    div#container-reforge.container
      img(src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/31ca8292-e979-4e41-a025-8b13994f6690/dc9cmbd-602e79ba-8ea2-4195-b307-70b7b6284b5f.jpg/v1/fill/w_1600,h_900,q_75,strp/vikings_fortress_by_darekzabrocki_dc9cmbd-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05MDAiLCJwYXRoIjoiXC9mXC8zMWNhODI5Mi1lOTc5LTRlNDEtYTAyNS04YjEzOTk0ZjY2OTBcL2RjOWNtYmQtNjAyZTc5YmEtOGVhMi00MTk1LWIzMDctNzBiN2I2Mjg0YjVmLmpwZyIsIndpZHRoIjoiPD0xNjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.BnUTcKsSDh8Uxq0QLjtbWcyTfVWe7dYcIphmD84os5I")
